doctype html
html
  head
    title HackerLyfe
    link(rel='stylesheet', href='/assets/bootstrap/dist/css/bootstrap.min.css')
    script(src='/assets/angular/angular.min.js')
  body.container
    #content
      
      block content
      
    #footer.col-md-12
      h5 Copyright Hacker Solutions Pvt. Ltd
